# Optional npm cache directory
.npm

# Dependency directories
node_modules/
jspm_packages/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Created installers and CSV files
CSV/
dist/