<form action="/api/v1/githubInfo/processInfo" method="get">
  <div class="form-group">
    <label>Save Destination:</label>
    <input type="text" class="form-control" name="destination">
  </div>
  <button type="submit" class="btn btn-primary btn-lg" formaction="/api/v1/githubInfo/processInfo">Process</button>
</form>
